@font-face {
    font-family: "sancreek";
    src: url('../sancreek/Sancreek-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: repeat(12,f1);
    grid-template-rows: auto auto auto;
    font-family: "Montserrat", sans-serif;
}
/*--------------HEADER--------------*/
header{
    grid-column: 1/-1;
    grid-row: 1/2;
    position: absolute;
    padding: 10px;
}
.bg-body-tertiary-fixed-top{
    background-color: #272727a1;
    border-radius: 10px;
    border: solid 2px #1d1d1dad;
}
.navbar-toggler-icon{
    filter: invert(-100%)
}
/*--------------MAIN--------------*/
main{
    grid-column: 1/-1;
    grid-row: 1/3;
    background-color: rgb(3, 3, 3)
}
/*--------------banner--------------*/
div#banner{
    background-image: url('../img/bannerPrincipal.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#banner h1, #banner h3{
    font-family: "sancreek";
    color: #fefefe;
    text-shadow: 5px 5px 4px #000000c9;
}
#banner h1{
    font-size: 100px;
}
#banner p{
    color: #fefefe;
    font-weight:lighter;
    font-size: 25px;
    text-align: center;
    text-shadow: 3px 3px 4px #000000c9;
    margin: 50px 0px;
}
.decoracao-titulo{
    display: flex;
    align-items: center;
}
hr.linha {
    opacity: 1;
    width: 300px;
    margin: 0;
    border:solid 2px #ac773e;
    border-radius: 6px;
}
#decoracao-titulo-img img {
    width: 40px;
    display: block;
    margin: 0px 10px;
    filter: invert(2) sepia(2) saturate(400%) hue-rotate(330deg);
}
#botao-reserva{
    /*background-image: url('../img/madeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: black;
    text-decoration: none;
    padding: 10px 60px;
    border-radius: 50px;
    border: solid 2px #ac773e;
    color: #fefefe;
    font-size: 18px;
    display: flex;
    align-items: center;
}
#botao-reserva:hover{
    box-shadow: 0px 0px 15px #ac773ec4;
}
.botao-reserva{
    width: 30px;
    margin-right: 25px;
    filter: invert(100%);
}
/*****************************************programacao*****************************************/
#programacao{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 100px;
}
.programacaoLinha{
    width: 400px;
    
}
#programacao h2{
    font-family: "sancreek";
    color: #fefefe;
    margin: 40px 0px;
    font-size: 60px;
}
div.conteiner-programacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
div.conteiner-programacao-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 30px;
    margin: 20px 25px;
    border: 5px solid transparent;
    border-radius: 10px;
    background-image: 
        linear-gradient(#F6E1C2, #F6E1C2,#cfa368), 
        linear-gradient(to top, #cfa368, #d8bb94, #d3b081, #CEA36B, #cc9e61);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition:  400ms;
}
div.conteiner-programacao-item:hover{
    transform: scale(1.1);
}
div.programacao-item-img img{
    width: 100px;
    margin: 20px 0px;
}
div.programacao-item-texto{
    text-align: center;
    width: 200px;
    height: 150px;
    color: #4D2816;
}
.programacao-item-texto h4{
    font-family: "sancreek";
    font-size: 30px;
}
.programacao-item-texto p{
    font-size: 18px;
}
.programacao-item-botao{
    background-color: #4D2816;
    color: #fefefe;
    padding: 10px 50px;
    border:solid 3px #5a3d2e;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.programacao-item-botao p{
    margin: 0;
    width: 100px;
    text-align: center;
}




.phone {display: none;}
.tablet {display: none;}
.pc {display: block;}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .phone {display: none;}
    .tablet {display:block;}
    .pc {display: none;}

    div#banner{
        background-image: url('../img/bannerPrincipal.png');
        padding: 250px 50px;
    }
    #banner h1{
        font-size: 60px;
        margin: 0px;
    }
    #banner p{
        font-size: 18px;
        margin: 50px 0px;
    }
    hr.linha {
        width: 200px;
    }
        
}
@media screen and (max-width: 768px) {
    .phone {display: block;}
    .tablet {display:none;}
    .pc {display: none;}

    div#banner{
        background-image: url('../img/bannerPrincipal.png');
        padding: 250px 0px;
    }
    #banner h1{
        font-size: 40px;
        margin: 0px 0px;
    }
    #banner p{
        font-size: 18px;
        margin: 50px 0px;
    }
    hr.linha {
        width: 100px;
    }
    #decoracao-titulo-img img {
        width: 30px;
    }
    #botao-reserva{
    
        padding: 10px 60px;
        font-size: 16px;
    }
    #botao-reserva:hover{
        box-shadow: 0px 0px 15px #ac773ec4;
    }
    .botao-reserva{
        width: 30px;
        margin-right: 25px;
        filter: invert(100%);
    }
    /*****************************************programacao*****************************************/
    
    #programacao{
        padding: 0px 20px;
        justify-content: center;
    }
    #programacao h2{
        font-size: 40px;
        text-align: center;
    }
    div.conteiner-programacao{
        justify-content: center;
    }
    div.conteiner-programacao-item{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 30px;
        margin: 20px 25px;
        border: 5px solid transparent;
        border-radius: 10px;
        background-image: 
            linear-gradient(#F6E1C2, #F6E1C2,#cfa368), 
            linear-gradient(to top, #cfa368, #d8bb94, #d3b081, #CEA36B, #cc9e61);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        transition:  400ms;
    }
    div.conteiner-programacao-item:hover{
        transform: scale(1.1);
    }
    div.programacao-item-img img{
        width: 100px;
        margin: 20px 0px;
    }
    div.programacao-item-texto{
        text-align: center;
        width: 200px;
        height: 150px;
        color: #4D2816;
    }
    .programacao-item-texto h4{
        font-family: "sancreek";
        font-size: 30px;
    }
    .programacao-item-texto p{
        font-size: 18px;
    }
    .programacao-item-botao{
        background-color: #4D2816;
        color: #fefefe;
        padding: 10px 50px;
        border:solid 3px #5a3d2e;
        border-radius: 50px;
        display: flex;
        align-items: center;
    }
    .programacao-item-botao p{
        margin: 0;
        width: 100px;
        text-align: center;
    }
}

/*--------------FOOTER--------------*/
footer{
    grid-column: 1/-1;
    grid-row: 3/-1;
    background-color: rgb(128, 0, 0)
}